[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = "*"
mdformat = "*"
linkcheckmd = "*"
marko = "*"
symspellpy = "*"


[dev-packages]
black = "*"
pytest = "*"
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
